canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  width: 100vw;
  color: white;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}



h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  grid-column: 2 / span 5;
  background: var(--dark-bg);
  font-size: 2.5rem;
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  background: var(--dark-bg);
  font-size: 1.25rem;
  padding: 1rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  grid-column: 2 / span 9;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
  left: 50%;
}

/* Navigation Bar */

/* Add a black background color to the top navigation */
.topnav {
  background: black;
  font-size: 2rem;
  padding: 0rem;
  line-height: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
}

.homebutton {
  background-color: white;
}

/* Style the image inside the navigation bar */
.topnav img {
  width: 75px;
  height: 75px;
  margin: 10px 50px;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}



/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #a90480;
  color: white;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.topnav li {
  float: right;
  padding: 35px 20px;
}


/* Buttons */

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on button mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


scroll-text {
  left: 50%;
  grid-column: 6 / span 1;
  margin: 0;
  padding: 0;
  font-size: 4rem;
  margin-bottom: var(--spacing);
}

