/* Stylesheet */

/*
#id
.class
*/

* {
  /*outline: 2px solid red;*/
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-bg: rgba(16, 19, 51, 0.85);
  --color-light: rgb(14, 23, 125);
  --color-medium: rgba(25, 29, 76, 1);
  --color-dark: rgb(16, 14, 28);
  --text-color: rgb(218, 221, 255);
  --button-color: rgb(14, 23, 125);

  background-color: var(--color-dark);
}

 /* All Links */
a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Lucida Console", monospace;
  color: var(--text-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}
.show {
  opacity: 1;
}


  h1 {
    font-size: 2em;
    line-height: 1.1;
  }
  
  h1, h2, h3, blockquote {
    font-family: "Lucida Console", monospace;
    font-weight: 700;
    font-style: normal;
  }
  

  
  section {
    display: grid;
    /*place-items: center;*/
    align-content: center;
    min-height: 50vh;
  }
  
  .section-box {
    background: var(--dark-bg);
    position: static;
    font-size: 1rem;
    margin: 0;
    /*animation: fadeIn 1s linear forwards;*/
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    z-index: 1;
    border: 1px solid var(--text-color);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }
  
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    margin-left: 75px;
    margin-right: 75px;
    gap: 50px;
    align-content: center;
  }
  
  /*/ Navigation Bar /*/
  
  /* Add a background to the top navigation */
  nav {
    background: var(--dark-bg);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    margin-left: auto; 
    margin-right: 0;
    overflow: hidden;
    z-index: 2;
  }
  
  /* Style the image inside the navigation bar */
  nav img {
    width: 50px;
    height: 50px;
    margin: 3px 5px 0px 10px;
  }
  
  /* Title text */
  nav p {
    position: absolute;
    font-family: "Lucida Console", monospace;
    padding: 0px;
    margin: 0px;
    top: 12px;
    font-size: x-large;
    text-wrap: wrap;
  }
  
  /* Page Links */
  nav .navlink {
    font-family: "Lucida Console", monospace;
    float: right;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Page Link Hover */
  nav .navlink:hover {
    background-color: var(--text-color);
    color: black;
  }
  
  /* Active/Current Link */
  nav .navlink.active {
    background-color: var(--text-color);
    color: black;
  }
  
  /* Hamburger Menu */
  nav #ham {
    display: none;
    position: relative;
    top: 13%;
    height: 50px;
    width: 50px;
    float: right;
    margin-left: auto;
    margin-right: 10px;
  }
  
  #ham span {
    height: 5px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  
  #ham span:nth-child(1) {
    top: 25%;
  }
  #ham span:nth-child(3) {
    top: 75%;
  }

  #ham:hover{
    cursor: pointer;
  }

  /* Ham Menu Animations */
  #ham.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #ham.active span:nth-child(2) {
    opacity: 0%;
  }
  #ham.active span:nth-child(3) {
    top: 40%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  /* Off Screen Menu */
  .off-screen-menu {
    background-color: var(--dark-bg);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    transition: .3s ease;
    z-index: -1;
  }
  .off-screen-menu.active {
    right: 0;
  }
  .off-screen-menu ul {
    list-style-type: none;
  }

  /*/ End of Navigation Bar /*/
  
  
  /* Top Section */
#name {
    padding-top: 180px;
    padding-bottom: 80px;
  }

  #name-box  {
    max-width: 30rem;
    margin-left: 75px;
    min-height: 15rem;
  }
  
  .button-style {
    position: static;
    background: var(--button-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: 15px;
  }
  .button-style:hover {
    background: var(--text-color);
    color: black;
  }


  .chevron {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 40px;
    width: 40px;
    margin-left: 48%;
    -webkit-filter: invert(1);
    filter: invert(1);
    animation: moveUpDown 1s linear infinite;
    animation-duration: 1.2s;
    margin-bottom: 100px;
  }

  a.chev-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
  
  /* About Section */
  #about {
    padding-top: 125px;
    padding-bottom: 100px;
  }

  .grid-container#about-content {
    gap: 0px;
  }

  #about-img {
    height: auto;
    width: 85%;
  }

  #about-box {
    max-width: 650px;
  }

  #about-box ul {
    columns: 2;
  }

  #abt-top {
    font-size: 1.25rem;
    z-index: 1;
    position: relative;
  }
  
  
  /* Projects Section */
  #projects {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  #proj-top {
    font-size: 1.25rem;
    z-index: 1;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.75);
  }
  
  hr.proj-line {
    position: relative;
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    width: 15%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.75);
  }

  .grid-container#projects {
    grid-template-columns: auto auto auto;
    margin: 0px 50px 0px 50px;
  }

  .grid-container#projects:nth-child(2) {
    transition-delay: 200ms;
   }
   .grid-container#projects:nth-child(3) {
    transition-delay: 400ms;
   }
  
  .project-box {
    background: var(--dark-bg);
    position: relative;
    height: 375px;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    /*animation: fadeIn 1s linear forwards;*/
    
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }
  
  .project-box:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 0 rgba(255, 255, 255, 0.75), 0 6px 20px 0 rgba(255, 255, 255, 0.75);
  }
  
  .project-box img {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  .project-box h2 {
    margin: 0;
  }
  
  .project-box p {
    font-size: .85rem;
  }

  

  
  /* Contact Section */
  #contact {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  #contact-box {
    position: relative;
    max-width: 30rem;
    margin-left: 100px;
    
  }
  
  #contact-box img {
    width: 50px;
    height: 50px;
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .75;
  }

  #contact-box img:hover {
    opacity: .95;
  }
  
  
  /*/ Footer /*/

  #footer {
    min-height: 0;
  }
  
  #page-footer {
    position: absolute;
    border-radius: 0;
    padding: 0px;
    width: 100%;
    background-color: var(--dark-bg);
    height: 75px;
    max-width: 100%;
    z-index: 2;
  }
  
  #page-footer p {
    float: left;
    font-family: "Lucida Console", monospace;
    margin: 25px 0px 0px 75px;
    font-size: 1rem;
  }
  
  #page-footer ul {
    list-style-type: none;
    margin: 15px 75px 0px 0px;
    padding: 0;
  }
  #page-footer li {
    float: right;
    display: inline;
    padding: 2px;
    margin-bottom: 0px;

    -webkit-filter: invert(1);
     filter: invert(1);
     opacity: .75;
  }

  #page-footer li:hover {
    opacity: .95;
  }
  /*/ End of Footer /*/
  
  
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeUp {
  0% { margin-top: 25%;
      height: 300%;
      opacity: 0; }
  100% {
      height: 300%;
      opacity: 1; }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
  
/*/ Small Screen View /*/
@media only screen and (max-width: 1150px) {
  /* Swtich to 2 columns of Project Boxes */
  .grid-container#projects {
    grid-template-columns: auto auto;
    margin: 0;
  }
}

/*/ Semi-Mobile View /*/
@media only screen and (max-width: 850px) {
  /* Mobile Top Section */
  #name {
    place-items: center;
  }
  #name-box {
    margin-left: 0;
  }

  
  /* Mobile About Section */

  /* Stack image above text */
  .grid-container#about-content {
    grid-template-columns: auto;
    place-items: center;
  }

  #about-img {
    padding-bottom: 50px;
  }

  /* Mobile Contact Section */
  #contact {
    place-items: center;
  }

  #contact-box {
    margin-left: 0;
  }

}

/*/ Mobile View /*/
@media only screen and (max-width: 650px) {
  /*/ Navigation Bar Switch to Hamberger View/*/
  nav .navlink {
    display: none;
  }
  nav #ham {
    display: inline;
  }

  /* Mobile Top Section */
  #name-box {
    max-width: 300px;
    margin-left: 0;
  }
  
  /*/ Mobile Projects Section /*/
  /* Swtich Big Project Boxes to Little Project Boxes */
  .grid-container#projects {
    grid-template-columns: auto;
    
    
  }
  
  .project-box {
    background: var(--dark-bg);

    width: 350px;
    height: 450px;
    border-radius: 25px;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  
    border: 1px solid;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }

  /*/ Mobile Contact Section /*/
  #contact-box {
    max-width: 300px;
    margin-left: 0;
  }

  /*/ Mobile Footer /*/
  #page-footer {
    height: 100px;
  }
  
  #page-footer p {
    margin: 25px 0px 0px 25px;
    font-size: .75rem;
  
  }
  #page-footer ul {
    margin: 45px 25px 0px 20px;
    padding: 0;
  }
  #page-footer li {
    float: left;
    display: inline;
    padding: 2px;
    margin-bottom: 0px;
    
  }

}