/* Stylesheet */

/*
#id
.class
*/

* {
  /*outline: 2px solid red;*/
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-bg: rgb(21,28,37,.85);
  --color-light1: rgba(252,110,144,255);
  --color-light2: rgba(254,224,140,255);
  --color-light3: rgba(254,224,140,255);
  --color-medium: rgba(7,4,64,255);
  --color-dark: rgba(7,4,64,255);
  --color-pink: rgb;
  --text-color: rgb(255,255,255);
  --button-color: rgb(102, 0, 104);
}

 /* All Links */
a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Lucida Console", monospace;
  color: var(--text-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}
.show {
  opacity: 1;
}


  h1 {
    font-size: 2em;
    line-height: 1.1;
  }
  
  h1, h2, h3, blockquote {
    font-family: "Lucida Console", monospace;
    font-weight: 700;
    font-style: normal;
  }
  


  img.placeholder-pic {
    padding: 25px;
    width: 400px;
    height: 550px;
  
  }
  
  
  section {
    display: grid;
    /*place-items: center;*/
    align-content: center;
    min-height: 50vh;
  }
  
  .section-box {
    background: var(--dark-bg);
    position: static;
    font-size: 1rem;
    margin: 0;
    /*animation: fadeIn 1s linear forwards;*/
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    z-index: 1;
    border: 1px solid;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }
  
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    margin-left: 75px;
    margin-right: 75px;
    gap: 50px;
    align-content: center;
  }
  
  /*/ Navigation Bar /*/
  
  /* Add a background to the top navigation */
  nav {
    background: var(--dark-bg);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    margin-left: auto; 
    margin-right: 0;
    overflow: hidden;
    z-index: 2;
  }
  
  /* Style the image inside the navigation bar */
  nav img {
    width: 50px;
    height: 50px;
    margin: 3px 5px 0px 5px;
  }
  
  /* Title text */
  nav p {
    position: absolute;
    font-family: "Lucida Console", monospace;
    padding: 0px;
    margin: 0px;
    top: 15px;
    font-size: x-large;
    text-wrap: wrap;
  }
  
  /* Page Links */
  nav .navlink {
    font-family: "Lucida Console", monospace;
    float: right;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Page Link Hover */
  nav .navlink:hover {
    background-color: var(--text-color);
    color: black;
  }
  
  /* Active/Current Link */
  nav .navlink.active {
    background-color: var(--text-color);
    color: black;
  }
  
  nav #ham {
    display: none;
    position: relative;
    top: 13%;
    height: 40px;
    width: 50px;
    float: right;
    margin-right: 10px;
  }
  
  /* Hamburger lines */
  #ham span {
    height: 4px;
    width: 75%;
    background-color: var(--text-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate (-50%, -50%);
    transition: .3s ease;
  }
  
  #ham span:nth-child(1) {
    top: 25%;
  }
  #ham span:nth-child(3) {
    top: 75%;
  }
  
  #ham.active span:nth-child(1) {
    top: 50%;
    transform: translate (-50%, -50%) rotate(45%);
  }
  #ham.active span:nth-child(2) {
    display: none;
  }
  #ham.active span:nth-child(3) {
    top: 50%;
    transform: translate (-50%, 50%) rotate(45%);
  }

  /* Off Screen Menu */
  .off-screen-menu {
    background-color: var(--dark-bg);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
  }
  .off-screen-menu.active {
    right: 0;
  }

  /*/ End of Navigation Bar /*/
  
  
  /* Top Section */
#name {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  #name-box  {
    max-width: 30rem;
    margin-left: 75px;
    min-height: 15rem;
  }
  
  .button-style {
    position: static;
    background: var(--button-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: 15px;
  }
  .button-style:hover {
    background: var(--text-color);
    color: black;
  }

  
  /* About Section */
  #about {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .grid-container#about-content {
    gap: 0px;
  }

  #about-img {
    height: auto;
    width: 85%;
  }

  #about-box {
    max-width: 650px;
  }

  #about-box ul {
    columns: 2;
  }

  #abt-top {
    font-size: 1.25rem;
    z-index: 1;
    position: relative;
  }
  
  
  /* Projects Section */
  #projects {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  #proj-top {
    font-size: 1.25rem;
    z-index: 1;
    position: relative;
    text-align: center;

    /*animation: fadeIn 1s linear forwards;
    transition: 0.3s;
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.75);*/
  }
  
  hr.proj-line {
    position: relative;
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    width: 15%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.75);
  }

  .grid-container#projects {
    grid-template-columns: auto auto auto;
    margin: 0px 50px 0px 50px;
  }

  .grid-container#projects:nth-child(2) {
    transition-delay: 200ms;
   }
   .grid-container#projects:nth-child(3) {
    transition-delay: 400ms;
   }
  
  .project-box {
    background: var(--dark-bg);
    position: relative;
    height: 375px;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    /*animation: fadeIn 1s linear forwards;*/
    
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }
  
  .project-box:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 0 rgba(255, 255, 255, 0.75), 0 6px 20px 0 rgba(255, 255, 255, 0.75);
  }
  
  .project-box img {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  .project-box h2 {
    margin: 0;
  }
  
  .project-box p {
    font-size: .85rem;
  }

  

  
  /* Contact Section */
  #contact {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  #contact-box {
    position: relative;
    max-width: 30rem;
    margin-left: 100px;
    
  }
  
  #contact-box img {
    width: 50px;
    height: 50px;
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .75;
  }

  #contact-box img:hover {
    opacity: .95;
  }
  
  
  /*/ Footer /*/

  #footer {
    min-height: 0;
  }
  
  #page-footer {
    position: absolute;
    border-radius: 0;
    padding: 0px;
    width: 100%;
    background-color: rgb(21,28,37);
    height: 75px;
    max-width: 100%;
    z-index: 2;
  }
  
  #page-footer p {
    float: left;
    font-family: "Lucida Console", monospace;
    margin: 25px 0px 0px 75px;
    font-size: 1rem;
  }
  
  #page-footer ul {
    list-style-type: none;
    margin: 15px 75px 0px 0px;
    padding: 0;
  }
  #page-footer li {
    float: right;
    display: inline;
    padding: 2px;
    margin-bottom: 0px;

    -webkit-filter: invert(1);
     filter: invert(1);
     opacity: .75;
  }

  #page-footer li:hover {
    opacity: .95;
  }
  /*/ End of Footer /*/
  
  
  /* Scroll Button /*/
  #myBtn {
    /*display: none;  Hidden by default */
    position: fixed; /* Fixed/sticky position */
    height: 25px;
    width: 25px;
    bottom: 18px; /* Place the button at the bottom of the page */
    right: 18px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: red; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  #myBtn:hover {
    background-color: white;
    color: black; /* Add a dark-grey background on hover */
  }

  .arrow {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid var(--text-color);
  }
  .arrow:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
/*/ End of Scroll Button /*/
  
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
  
@keyframes fadeUp {
  0% { margin-top: 25%;
      height: 300%;
      opacity: 0; }
  100% {
      height: 300%;
      opacity: 1; }
}


@media(prefers-reduced-motion) {

  .hidden {
    transition: none;
  }
}
  
/*/ Small Screen View /*/
@media only screen and (max-width: 1075px) {
  /* Swtich to 2 columns of Project Boxes */
  .grid-container#projects {
    grid-template-columns: auto auto;
    margin: 0;
  }
}

/*/ Semi-Mobile View /*/
@media only screen and (max-width: 850px) {
  /* Mobile Top Section */
  #name {
    place-items: center;
  }
  #name-box {
    margin-left: 0;
  }

  
  /* Mobile About Section */

  /* Stack image above text */
  .grid-container#about-content {
    grid-template-columns: auto;
    place-items: center;
  }

  #about-img {
    padding-bottom: 50px;
  }

  /* Mobile Contact Section */
  #contact {
    place-items: center;
  }

  #contact-box {
    margin-left: 0;
  }

}

/*/ Mobile View /*/
@media only screen and (max-width: 650px) {
  /*/ Navigation Bar Switch to Hamberger View/*/
  nav .navlink {
    display: none;
  }
  nav #ham {
    display: inline;
  }

  /* Mobile Top Section */
  #name-box {
    max-width: 300px;
    margin-left: 0;
  }
  
  /*/ Mobile Projects Section /*/
  /* Swtich Big Project Boxes to Little Project Boxes */
  .grid-container#projects {
    grid-template-columns: auto;
    
    
  }
  
  .project-box {
    background: var(--dark-bg);

    width: 350px;
    height: 450px;
    border-radius: 25px;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  
    border: 1px solid;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }

  /*/ Mobile Contact Section /*/
  #contact-box {
    max-width: 300px;
    margin-left: 0;
  }

  /*/ Mobile Footer /*/
  #page-footer {
    height: 100px;
  }
  
  #page-footer p {
    margin: 25px 0px 0px 25px;
    font-size: .75rem;
  
  }
  #page-footer ul {
    margin: 45px 25px 0px 20px;
    padding: 0;
  }
  #page-footer li {
    float: left;
    display: inline;
    padding: 2px;
    margin-bottom: 0px;
    
  }

    #myBtn {
      display: none;
    }
    .arrow {
      display: none;
    }
    
}