
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  position: absolute;
  width: 100vw;
  color: white;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  grid-column: 2 / span 5;
  background: var(--dark-bg);
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  background: var(--dark-bg);
  font-size: 1.25rem;
  padding: 1rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  grid-column: 2 / span 9;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

 /* Style buttons */
 .btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
} 

.left {
  grid-column: 6 / 12;
}