<section id="footer">
    <div id="page-footer">
      <p>©2025 Built and Designed by Anastasia Green</p>
      <ul>
        <li><a href="https://www.linkedin.com/in/anastasia-green/"><img src="/images/icons/linkedin.png" alt="LinkedIn" style="width:36px;height:36px;"></a></li>
        <li><a href="https://github.com/anadaren"><img src="/images/icons/github.png" alt="GitHub" style="width:36px;height:36px;"></a></li>
        <li><a href="mailto:ana.daren.green@gmail.com"><img src="/images/icons/email.png" alt="Email" style="width:36px;height:36px;"></a></li>
      </ul>
    </div>
  </section>