<!--Project Section-->
<section id="projects">
    <div id="proj-top">
      <h1>Projects</h1>
      <hr class="proj-line">
    </div>

    <div class="grid-container" id="projects">

      <!--Project 1-->
      <div class="project-box">
        <a href="https://github.com/anadaren/sudoku/" class="proj-link" alt="sudoku">
        <div>
          <img src="/images/projectPics/project1.png">
        </div>
        <div>
          <h2>Sudoku App</h2>
        <p>Simple sudoku app made with React.</p>
        <div class="tags">HTML/CSS, Javascript, React</div>
        </div>
      </a>
      </div>
      <!--End of Project 1-->


      <!--Project 2-->
      <div class="project-box">
        <a href="https://github.com/anadaren/fish-blog" class="proj-link" alt="fish blog">
        <div>
          <img src="/images/projectPics/project2.png">
        </div>
        <div>
          <h2>Fish Themed Blogging Website</h2>
        <p>A blogging website for people to post about fish and fish related topics.</p>
        <div class="tags">HTML/CSS, Node.js, Express.js, MongoDB</div>
      </div>
    </a>
    </div>
      <!--End of Project 2-->


      <!--Project 3-->
      <div class="project-box">
        <a href="/src/games.html" class="proj-link" alt="games page">
        <div>
          <img src="/images/projectPics/gamestudio.png">
        </div>
        <div>
          <h2>Game Design</h2>
        <p>A collection of all of my game design projects, created in Unity, Unreal Engine, and more.</p>
        <div class="tags">Unity, C#, Blender, Lua</div>
      </div>
      </a>
      </div>
      <!--End of Project 3-->

    </div>


  </section>
  <!--End of Project Section-->