<!--Project Section-->
<section id="projects">
  <div id="proj-top">
    <h1>Projects</h1>
    <hr class="proj-line">
  <button class="tab-button" onclick="openTab('project-box'); selectTab(this)">All</button>

  <div id="tab-button-container">
    <button class="tab-button tab-selected" onclick="openTab('webdev'); selectTab(this)">Web Dev</button>
    <button class="tab-button" onclick="openTab('gamedev'); selectTab(this)">Game Dev</button>
    <button class="tab-button" onclick="openTab('xr'); selectTab(this)">XR</button>
    <button class="tab-button" onclick="openTab('art'); selectTab(this)">Artwork</button>
  </div>
</div>

  <!--Web Dev-->
  <div class="grid-container" id="projects">
      <!--Project Sudoku-->
      <div class="project-box webdev">
        <div class="proj-content">
        
          <img src="/images/projectPics/project1.png">
          <h2>Sudoku App</h2>
          <div class="tags">HTML/CSS, Javascript, React</div>
          <p>Simple sudoku app made with React.</p>
        
        </div>
        <div class="proj-buttons">
          <a href="https://github.com/anadaren/sudoku/" class="button-style">Source Code</a>
          <a href="https://anadaren-sudoku-app.netlify.app/" class="button-style">Live Demo</a>
        </div>
      </div>
      <!--End of Project 1-->

      <!--Project Book-->
      <div class="project-box webdev">

        <div class="proj-content">
        
          <img src="/images/projectPics/project-book.png">
          <h2>Bookshelf</h2>
          <div class="tags">HTML/CSS, JavaScript, React</div>
          <p>Searches the Google Book API for books for you to add to a custom read and favorite lists.</p>
        
        </div>
      <div class="proj-buttons">
        <a href="https://github.com/anadaren/bookshelf/" class="button-style">Source Code</a>
        </div>
   
      </div>
      <!--End of Project 3-->

      <!--Project Ecommerse-->
      <div class="project-box webdev">

        <div class="proj-content">
        
          <img src="/images/projectPics/project-landingpage.png">

          <h2>Ecommerse Website</h2>
        <div class="tags">HTML/CSS, JavaScript, React</div>
      <p>An online ecommerse website with sample products for a person to buy.</p>
        </div>
      <div class="proj-buttons">
        <a href="https://github.com/anadaren/react-storefront/" class="button-style">Source Code</a>
        <a href="https://anadaren-storefront.netlify.app/" class="button-style">Live Demo</a>
      </div>
      
      
      </div>
      <!--End of Project 3-->

      
      
      <!--Project Pokemon-->
      <div class="project-box webdev">
        <div class="proj-content">
        
          <img src="/images/projectPics/project5.png">
    
          <h2>Pokemon Search</h2>
       <div class="tags">HTML/CSS, JavaScript, React</div>
       <p>React app that lets you search for different pokemon in the pokedex.</p>
        </div>
      <div class="proj-buttons">
        <a href="https://github.com/anadaren/pokemon-search/" class="button-style">Source Code</a>
        <a href="https://anadaren-pokemon-search.netlify.app/" class="button-style">Live Demo</a>
      </div>
      
  
      </div>
      <!--End of Project 2-->

      <!--Project Art-->
      <div class="project-box webdev art">
        <div class="proj-content">
        
          <img src="/images/projectPics/project4.png">
     
          <h2>Art Gallery</h2>
        <div class="tags">HTML/CSS, JavaScript, React, Digital Illustration</div>
      <p>An interactive art gallery app showcasing all of my 2D Artwork.</p>
        </div>
      <div class="proj-buttons">
        <a href="https://github.com/anadaren/art-gallery/" class="button-style">Source Code</a>
        <a href="https://anadaren-art-gallery.netlify.app/" class="button-style">Live Demo</a>
      </div>
     
      </div>
      <!--End of Project 3-->

      <!--Project Fish-->
      <div class="project-box webdev">
        <div class="proj-content">
        
          <img src="/images/projectPics/project2.png">
      
          <h2>Fish Themed Blogging Website</h2>
         <div class="tags">HTML/CSS, Node.js, Express.js, MongoDB</div>
         <p>A satirical blogging website for people to post about fish and fish related topics.</p>
       
      </div>
      <div class="proj-buttons">
        <a href="https://github.com/anadaren/fish-blog/" class="button-style">Source Code</a>
      </div>
    
    </div>
      <!--End of Project Fish-->

      

  <!--Game Dev-->

      <!--Project 1-->
      <div class="project-box gamedev xr" style="display:none">
        <a href="/src/somethingscoming.html" class="proj-link">
        <div>
          <img src="/images/projectPics/games/SomethingsComing.png">
        </div>
        <div>
          <h2>Something's Coming</h2>
          <div class="tags">Unity, C#, Virtual Reality, Meta Quest 2, Git, Blender</div>
          <p>My Integrated Design & Media Masters Thesis! An interactive VR Art Game, focusing on existentialism and absurdism in the modern world. Project made using Unity and designed for the Oculus Quest 2.</p>
          </div>
        </a>
      </div>
      <!--End of Project 1-->

      <!--Project 2-->
      <div class="project-box gamedev" style="display:none">
        <a href="/src/weeklygames.html" class="proj-link">
        <div>
          <img src="/images/projectPics/games/GamePrototypes.png">
        </div>
        <div>
          <h2>Weekly Game Prototypes</h2>
          <div class="tags">Unity, C#, Blender, Procreate</div>
          <p>A project where I created 6 short game prototypes over the course of six weeks. Each prototype was made in Unity, based on a different weekly prompt. Each one is also a different genre and style of game.</p>
           </div>
      </a>
      </div>
      <!--End of Project 2-->

      <!--Project 3-->
      <div class="project-box gamedev xr" style="display:none">
        <a href="/src/thelakehouse.html" class="proj-link">
        <div>
          <img src="/images/projectPics/games/LakeHouse.png">
        </div>
        <div>
          <h2>The Lake House VR</h2>
        <div class="tags">Unity, C#, Virtual Reality, Meta Quest 2, Git, Blender</div>
      <p>My Interactive Multimedia Senior Thesis! An interactive VR game created in Unity for the Oculus Quest 2. This game is a narrative based puzzle game, where the player has to explore a scene to find a way into their family's old abandoned Lake House.</p>
        </div>
      </a>
      </div>
      <!--End of Project 3-->

      <!--Project 4-->
      <div class="project-box gamedev" style="display:none">
        <a href="https://anadaren.itch.io/14th-century-breadmaking-simulator" class="proj-link">
        <div>
          <img src="/images/projectPics/games/BreadSim.png">
        </div>
        <div>
          <h2>14th Century Breadmaking Simulator</h2>
        <div class="tags">Unity, C#, Blender</div>
        <p>Relaxing atmospheric baking simulator, set in the 14th century. Game made in Unity. Myself and a group of 4 others made this game as our semester long project for our Games 2 class, in the spring of 2021.</p>
        </div>
    </a>
    </div>
      <!--End of Project 4-->

      <!--Project 5-->
      <div class="project-box gamedev" style="display:none">
        <a href="https://rowanqueue.itch.io/vampire-overlord-2d" class="proj-link">
        <div>
          <img src="/images/projectPics/games/VampireOverlord.png">
        </div>
        <div>
          <h2>Vampire Overlord</h2>
        <div class="tags">Unity, C#, Git</div>
          <p>My groups submission for Global Game Jam 2022! Text Based RPG about ruling over a society of Vampires. Pick three randomly generated Underlings what make decisions for you while you sleep.</p>
          <p>Winner of Best Narrative at the NYU Game Center GGJ Site!</p>
          </div>
    </a>
    </div>
      <!--End of Project 5-->

      <!--Project 6-->
      <div class="project-box gamedev" style="display:none">
        <a href="https://github.com/anadaren/Moon-Swap" class="proj-link">
        <div>
          <img src="/images/projectPics/games/MoonSwap.png">
        </div>
        <div>
          <h2>Moon Swap</h2>
        <div class="tags">Lua, Git, State Machines</div>
      <p>Match 3 game, coded in Lua. Heavily inspired by games like Bejeweled and Candy Crush. Independent hobby project made in the summer of 2022. Coded for the Love2D engine, utilizing several different Lua data structures.</p>
        </div>
    </a>
    </div>
      <!--End of Project 6-->


  <!--Art-->

      <!--Project 1-->
      <div class="project-box art xr" style="display:none">
        <a href="https://youtube.com/shorts/eFDyzjSCj6g?feature=share" class="proj-link">
        <div>
          <img src="/images/projectPics/ShadowBox.jpg">
        </div>
        <div>
          <h2>AR Shadowbox</h2>
          <div class="tags">Augmented Reality, Illustrator, BlippAR, Physical Media</div>
        <p>A 12 x 12 laser-cut wooden shadowbox, depicting an augmented reality underwater shipwreck scene, designed in Illustrator.</p>
          </div>
      </a>
      </div>
      <!--End of Project 1-->

      <!--Project 2-->
      <div class="project-box art" style="display:none">
        <a href="https://sketchfab.com/anadaren" class="proj-link">
        <div>
          <img src="/images/projectPics/sketchfab.png">
        </div>
        <div>
          <h2>3D Modeling</h2>
          <div class="tags">3D Modeling, Blender, Maya</div>
        <p>My Sketchfab account, showcasing all of my 3D artwork.</p>
          </div>
      </a>
      </div>
      <!--End of Project 2-->

  </div>

</section>
<!--End of Project Section-->