/* Stylesheet */

/*
#id
.class
*/

* {
  max-width: 100vw;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --link-color: rgb(83, 91, 242);
  --button-color: rgb(23, 5, 141);
  --border-color: rgba(161, 159, 255, 0.67);

  --color-light: rgb(218, 221, 255);
  --color-medium: rgba(9, 14, 61, 0.85);
  --color-dark: rgb(1, 0, 30);
  
  --box-shadow: rgba(0, 0, 0, 0.75);
  --box-hover: rgba(255, 255, 255, 0.75);

  

  background-color: var(--color-dark);
  /*background:radial-gradient(200% 105% at top center,#1b2047 10%,#000033 40%,#002865 90%,#0060e6);*/
  
}

html {
  height: 100%;
}


 /* All Links */
a {
  font-weight: 500;
  color: var(--color-light);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
  font-weight: 1000;
}

p {
  font-size: 1.1rem;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;

  font-family: "Lucida Console", monospace;
  color: var(--color-light);
  overflow-x: hidden;
}




  h1 {
    font-size: 2em;
    line-height: 1.1;
  }
  
  h1, h2, h3, blockquote {
    font-family: "Lucida Console", monospace;
    font-weight: 700;
    font-style: normal;
  }

  section {
    display: grid;
    align-content: center;
    min-height: 50vh;
    padding: 100px 0 100px 0;
  }

  #cursor {
    width: 0px;
    height: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow:
      0 0 60px 10px var(--link-color),
      0 0 300px 150px rgba(16, 24, 100, .35);
    border-radius: 100%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: -2;
  }
  
  
  .section-box {
    background: var(--color-medium);
    outline: 1px solid var(--border-color);
    position: static;
    font-size: 1rem;
    margin: 0;
    animation: fadeIn 1s linear forwards;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    z-index: 1;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  }
  
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    margin-left: 50px;
    margin-right: 50px;
    gap: 25px;
    align-content: center;
  }
  
  /*/ Navigation Bar /*/
  
  /* Add a background to the top navigation */
  nav {
    background: var(--color-medium);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }

  /* Style the image inside the navigation bar */
  nav img {
    width: 50px;
    height: 50px;
    margin: 4px 15px 0px 20px;
  }
  
  /* Title text */
  nav p {
    position: absolute;
    font-family: "Lucida Console", monospace;
    padding: 0px;
    margin: 0px;
    top: 12px;
    font-size: 1.5rem;
    text-wrap: wrap;
  }
  
  /* Page Links */
  nav .navlink {
    font-family: "Lucida Console", monospace;
    float: right;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 1.06em;
  }
  
  /* Page Link Hover */
  nav .navlink:hover {
    background-color: var(--color-light);
    color: black;
  }

  
  /* Hamburger Menu */
  nav #ham {
    display: none;
    position: relative;
    top: 20%;
    height: 40px;
    width: 40px;
    float: right;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
  }
  
  #ham span {
    height: 5px;
    width: 100%;
    background-color: var(--color-light);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  
  #ham span:nth-child(1) {
    top: 25%;
  }
  #ham span:nth-child(3) {
    top: 75%;
  }

  #ham:hover{
    cursor: pointer;
  }

  /* Ham Menu Animations */
  #ham.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #ham.active span:nth-child(2) {
    opacity: 0%;
  }
  #ham.active span:nth-child(3) {
    top: 40%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  /* Off Screen Menu */
  .off-screen-menu {
    background-color: var(--color-medium);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    transition: .3s ease;
    z-index: -1;
  }
  .off-screen-menu.active {
    right: 0px;
  }
  .off-screen-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /*/ End of Navigation Bar /*/
  
  
  /* Top Section */
  #name-section {
    padding-top: 0px;
  }

  #name-section h1 {
    font-size: 3em;
  }

  #name-box  {
    display: flex;
    max-width: 35rem;
    margin-top: 170px;
    margin-left: 7%;
    margin-bottom: 0em;
    padding: 20px 20px 35px 40px;
  }

  #name-box p {
    font-size: 1.25rem;
  }

  header {
    margin-bottom: 1.5rem;
  }
  
  .button-style {
    background: var(--button-color);
    padding: 12px;
    border-radius: 18px;
  }
  .big-button {
    font-size: 1.25rem;
    padding: 18px;
    border-radius: 25px;
    font-weight: 600;
  }
  .button-style:hover {
    background: var(--link-color);
    color: black;
  }


  .chevron {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 40px;
    width: 40px;
    opacity: 75%;
    margin-left: 48%;
    
    -webkit-filter: invert(1);
    filter: invert(1);
    animation: moveUpDown 1s linear infinite;
    animation-duration: 1.2s;
    margin-bottom: 100px;
  }

  a.chev-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
  
  /* About Section */
  #about {
    padding-top: 150px;
  }

  #about-container {
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
  }

  #about-img {
    box-shadow: 10px 10px var(--link-color);
    max-height: 525px;
    z-index: 0;
  }

  #about-box {
    max-width: 650px;
  }

  #about-box ul {
    columns: 2;
    font-size: .9rem;
  }

  #abt-top {
    font-size: 1.25rem;
    z-index: 1;
    position: relative;
  }

  /* Skills Sections */
  #skills-section {
    padding-top: 0px;
  }

  #skills-grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "box1 list1"
    "list2 box2";
    margin: 0 10%;
  }

  .skills-box  {
    max-width: 30rem;
    margin: 4rem auto;
    padding-left: 30px;
    padding-bottom: 50px;;
  }
  .skills-box p {
    font-size: 1rem;
  }
  #box-1 {
    grid-area: box1;
  }
  #box-2 {
    grid-area: box2;
  }
  #list-1 {
    grid-area: list1;
  }
  #list-2 {
    grid-area: list2;
  }

  #skills h3 {
    font-size: 1.4rem;
    font-weight: lighter;
    text-align: center;
  }

  .skill-icons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 20% 10% 0 10%;
    padding: 0;
  }

  .skill-icons li {
    font-size: 3.5rem;
    margin: 0 10px 0 10px;
  }
  
  
  /* Projects Section */
  #projects {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .proj-top {
    padding-top: 50px;
    font-size: 1.25rem;
    z-index: 1;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.75);
  }
  
  hr.proj-line {
    position: relative;
    margin-bottom: 25px;
    text-align: center;
    border: 2px solid var(--color-light);
    border-radius: 5px;
    width: 20%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.75);
  }

  #tab-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px 25px 0px 25px;
  }
  .tab-button {
    margin: 5px 10px 5px 10px;
    padding: 10px 0 10px 0;
    background-color: var(--color-medium);
    color: var(--color-light);
    font-size: .9rem;
    width: 7rem;
    border-radius: 50px;
    border-style: none;
    outline: 1px solid var(--border-color);
    font-family: "Lucida Console", monospace;
    transition: background-color 0.3s ease-in-out;
  }
  .tab-button:hover {
    cursor: pointer;
    background-color: var(--button-color);
  }
  .tab-selected {
    background-color: var(--link-color);
  }



  .proj-category h1 {
    margin-left: 25rem;
    font-weight: 500;
  }

  .proj-category hr {
    position: relative;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    width: 25%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.75);
  }

  .grid-container#projects {
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto 0px auto;
    justify-items: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 80%;
  }
  
  
  .project-box {
    background: var(--color-medium);
    outline: 1px solid var(--border-color);
    position: relative;
    height: auto;
    min-height: 32rem;
    max-width: 23rem;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    
    z-index: 1;
    box-shadow: 0px 4px 8px 0 var(--box-shadow), 0 6px 20px 0 var(--box-shadow);
  }
  .project-box #long-title {
    font-size: 20px;
  }
  
  .project-box:hover {
    box-shadow: 8px 8px 0px 0 var(--link-color);
    animation: hoverAnim .1s forwards;
    transition: .1s ease;
  }
  
  .project-box img {
    max-width: 100%;
    min-height: 12rem;
    border-radius: 15px;
  }
  
  .project-box h2 {
    margin: 8px;
    font-size: 1.5rem;
  }
  
  .project-box p {
    font-size: .9rem;
    margin-bottom: 60px;
  }

  .proj-buttons {
    position: absolute;
    font-size: 1rem;
    bottom: 25px;
    width: 95%;

  }


  .project-specs {
    margin: 2rem 0;
    text-align: left;
  }
  
  .tags {
    width: auto;
    background: var(--button-color);
    color: var(--color-light);
    border-radius: 15px;
    font-size: .75rem;
    margin-bottom: 15px;
    padding: 2px 10px 2px 10px;
  }

  

  
  /* Contact Section */
  #contact {
    padding-bottom: 160px;
  }
  
  #contact-box {
    position: relative;
    max-width: 30rem;
    margin:auto;
    overflow-wrap: break-word;
  }
  
  #contact-box img {
    width: 50px;
    height: 50px;
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .75;
  }

  #contact-box img:hover {
    opacity: .95;
  }
  
  
/*/ Footer /*/

#footer {
    min-height: 0;
    padding: 0;
}
  
#page-footer {
    position: absolute;
    border-radius: 0;
    padding: 0px;
    width: 100%;
    background-color: var(--color-medium);
    height: 75px;
    max-width: 100%;
    z-index: 2;
}
  
#page-footer p {
    float: left;
    font-family: "Lucida Console", monospace;
    margin: 25px 0px 0px 75px;
    font-size: 15px;
}
  
#page-footer ul {
    list-style-type: none;
    margin: 15px 75px 0px 0px;
    padding: 0;
}
#page-footer li {
    float: right;
    display: inline;
    padding: 2px;
    margin-bottom: 0px;

    -webkit-filter: invert(1);
     filter: invert(1);
     opacity: .75;
}

#page-footer li:hover {
    opacity: .95;
}
/*/ End of Footer /*/
  

/*/ Animation classes /*/
.hidden {
  opacity: 0;
  transition: all 1s;
}
.show {
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@keyframes hoverAnim {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-2%); }
}
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeUp {
  0% { margin-top: 25%;
      height: 0%;
      opacity: 0;
    }
  100% { margin-top: 25%;
      height: 100%;
      opacity: 1; }
}

@keyframes moveRight {
  0% {
    transform: translateX(-75%);
    opacity: 0; }
100% {
    transform: translateX(0%);
    opacity: 1; }
}

@keyframes moveLeft {
  0% {
    transform: translateX(75%);
    opacity: 0; }
100% {
    transform: translateX(0%);
    opacity: 1; }
}


@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/*/ End of animation classes /*/

  
/*/ Small Screen View 1 /*/
@media only screen and (max-width: 1025px) {
  /* Swtich to 2 columns of Project Boxes */
  .grid-container#projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 95%;
  }
}

/*/ Small Screen View 2 /*/
@media only screen and (max-width: 850px) {
  /*/ Small Screen Top Section /*/
  #name {
    place-items: center;
  }
  #name-box {
    margin-left: 0;
  }
  
  
  /*/ Small Screen About Section /*/

  /* Stack image above text */
  #about-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  #about-img {
    margin: 0;
  }

  /*/ Small Screen Skills Section /*/
  #skills-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
    "box1"
    "list1"
    "box2"
    "list2";
    margin: 0 4%;
  }


  /*/ Small Screen Contact Section /*/
   #contact {
    padding-bottom: 120px;
  }

  #contact-box {
    margin: 0;
    animation: none;
    width: 100%;
  }

}

/*/ Mobile View /*/
@media only screen and (max-width: 750px) {
  /* Navigation Bar Switch to Hamberger View */
  nav p {
    font-size: 1.4em;
  }
  nav .navlink {
    display: none;
  }
  nav #ham {
    display: inline;
  }

  /*/ Mobile Top Section /*/
  #name-box {
    font-size: 1rem;
    width: 100%;
    max-width: 80%;
    margin: auto;
    margin-top: 180px;
  }

  #name h1 {
    font-size: 2rem;
  }
  
  h1, h2 {
    font-size: 1.5rem;
  }
  

  /*/ Mobile About Section /*/
  #about-container {
    width: 100%;
    max-width: 90%;
    margin: auto;
  }

  #about-img {
    animation: none;
    max-width: 85%;
  }

  #about-box {
    animation: none;
  }
  #about-box h1 {
    font-size: 2rem;
  }
  #about-box p {
    font-size: 1rem;
  }

  /*/ Mobiles Skills section /*/

  .skills-box {
    max-width: 80%;
  }

  #skills h3 {
    font-size: 1.25rem;
  }

  #skill-icons li {
    font-size: 50px;
  }
  
  /*/ Mobile Projects Section /*/

  #tab-button-container {
    margin: 15px auto 0px auto;
  }

  /* Swtich Big Project Boxes to Little Project Boxes */
  .grid-container#projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-box {
    max-width: 300px;
  }
  
  .project-box img {
    width: 300px;
    height: 200px;
  }


  /*/ Mobile Contact Section /*/

  #contact-box {
    font-size: .75rem;
    width: 100%;
    max-width: 80%;
    overflow-wrap: break-word;
    margin: auto;
  }

   #contact-box h1 {
    font-size: 2rem;
  }

 


  /*/ Mobile Footer /*/
  #page-footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #page-footer p {
    margin: 20px 0px 0px 0px;
    font-size: .85rem;
  }
  #page-footer ul {
    margin: 10px 25px 15px 20px;
  }

  #cursor {
    display: hidden;
  }


}

/*/ Small Mobile View Nav /*/
@media only screen and (max-width: 400px) {
  nav {
    height: 75px;
  }
  nav p {
    max-width: 150px;
    top: 8px;
    font-size: 1.25rem;
    text-wrap: wrap;
  }
  nav img {
    margin: 12px 10px 0px 15px;
  }
  
}